$primary: #4c54f8;
$secondary: #e2e2e2;
$blue: #0a6af6;
$red: #ff0000;
$black: #000000;
$lightgray: #f9f9f9;
$darkgray: #aeb7b4;
$darktext: #878787;
$cyan: #a5ecd7;
$redishgray: #fff9f9;
$white: #ffffff;
$lighttext: rgba(32, 32, 32, 0.6);
$indigo: #5242f0;
